<div class="comments has-background-info-dark mb-5">
    {{#each this}}
    <section class="comment">
        <div class="meta has-text-white-bis">
            {{user.username}}
        </div>
        <div class="text has-text-white-bis">
            {{comment_text}}
        </div>
    </section>
    {{/each}}
</div>