<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Forum</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body class="">
    <nav class="navbar">
      <h1 class="">Tech Blog</h1>
      {{#if loggedIn}}
      <a href="/" class="navbar-item">Home</a>
      <a href="/forum" class="navbar-item">Dashboard</a>
      <a href="/forum/new" class="navbar-item">New Post</a>
      <button id="logout" class="button">Log Out</button>
      {{else}}
      <a href="/" class="navbar-item">Home</a>
      <a href="/login" class="button">Login</a>
      <a href="/signup" class="button">Create Account</a>
      {{/if}}
    </nav>

    <main class="">

        {{{ body }}}
    </main>
    {{#if loggedIn}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>