<div class="post card">
    <div class="card-header">
        <h2>Create new Post</h2>
    </div>
    <form id="new-post-form" class="card-body">
        <label for="post-title" class="form-label">Title</label>
        <input type="text" name="post-title" class="form-input" />

        <label for="post-content" class="form-label">Content</label>
        <textarea name="post-content" class="form-input"></textarea>

        <button type="submit" class="btn">Create Post</button>
    </form>
</div>

<script src="/js/post.js"></script>