
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="#" id="logout-link">logout</a>
    </nav>

    <main class="col-auto">
    </main>

    <footer>
        <a href="/dashboard/new">New post</a>
    </footer>

<script src="/js/logout.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>
</html>