<div class="post card">
    <div class="card-header">
        <h2>Edit-Post</h2>
    </div>
    <form id="edit-post-form">
        <input type="hidden" id="post-id" value="{{post.id}}" />

        <label class="form-label" for="post-title"></label>
        <input type="text" id="post-title" value="{{post.title}}" class="form-input" />

        <label class="form-label" for="post-body">Content</label>
        <textarea id="post-content" class="form-input">{{post.body}}</textarea>

        <button type="submit" class="btn">Update</button>

        <button type="button" id="delete" class="btn">Delete</button>
    </form>
</div>