
    <nav class="navbar">
        <a href="/">Home</a>
        <a href="/forum">Forum</a>
        <a href="#" id="logout-link">logout</a>
    </nav>
    <header>
        <h1><a href="/forum"></a>Forum</h1>
    </header>

    <main class="col-auto">
        {{{body}}}
    </main>

    <footer>
        <a href="/forum/new">New post</a>
    </footer>

<script src="/js/logout.js"></script>
<script src="/js/edit.js"></script>
<script src="/js/delete.js"></script>
</html>